{% extends "blog/base.html" %}
{% load cloudinary %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_pagination page_obj %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}

    <div class="jumbotron">
    <hr>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-center">
                <a class="p-2 text-muted" href="{% url 'blog' %}">
                    All
                </a>
                {% for category in categories %}
                {% if category.post_count > 0 %}
                    <a class="p-2 text-muted" href="{% url 'category' category.slug %}">
                            {{ category.name }}({{ category.post_count}})
                    </a>
                {% endif %}
                {% endfor %}
            </nav>
        </div>
        <hr>

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark row category_image"
             {% if current_category.image.url %}
             style="background-image: url('{{current_category.image.url}}');"
             {% else %}
             style="background-image: url('/static/blog/cover.jpg');"
             {% endif %}>
            <div class="col-md-6 px-0">
                    <h3 class="display-4 font-italic">{{ current_category.name|default:"All Posts" }}</h3>
                    <p class="lead my-3">{{ current_category.description|default:"" }}</p>

            </div>
        </div>
        {% if is_paginated %}
            {% bootstrap_pagination posts url="?page=" size="large" %}
        {% endif %}
        <div class="row mb-2">
            {% for post in posts %}
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250 blog_card">
                        <div class="card-body d-flex flex-column align-items-stretch text-wrap">
                            <strong class="d-inline-block mb-2 text-primary">{{ post.author.username }}</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="{% url 'post-detail' post.slug %}">{{ post.title|truncatechars:20 }}</a>
                            </h3>
                            <p class="mb-1 text-muted">{{ post.date }}</p>
                            <a href="{% url 'post-detail' post.slug %}">Continue reading</a>
                        </div>
                        <div>
                            <a href="{% url 'post-detail' post.slug %}">
                                <img class="flex-auto img-fluid d-none d-lg-block blog_card_image" src="{{ post.image.url }}"
                                 alt="Card image cap" onerror=this.src="https://res.cloudinary.com/hxrgp5vol/image/upload/v1611772110/samples/landscapes/nature-mountains.jpg">
                                </a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% bootstrap_pagination posts url="?page=" size="large" %}
        {% endif %}
    </div>


{% endblock %}
