{% extends "blog/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_pagination page_obj %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
{% endblock %}
{% block content %}
<div class="cover-container d-flex h-80 p-3 mx-auto flex-column introduction">
    <div class="mt-5 pb-5"></div>

    <main role="main" class="inner cover">
        <h2>Hello {{ request.user.username|default:request.user.email }}</h2>

        <h1 class="cover-heading">{{ intro.0.title|default:'Welcome' }} </h1>
        <p class="lead">{{ message|default:'' }}</p>
        <p class="lead">
            <a href="{% url 'blog' %}" class="btn btn-lg btn-secondary">Enter</a>
        </p>
    </main>
    <div class="row">
        <div class="col-sm-12 mt-2 text-center">
            <button class="btn btn-danger">
                <a href="{% url 'logout' %}">Logout</a>
            </button>
        </div>
    </div>
</div>
<div class="mt-5 pb-5"></div>

{% endblock %}
