{% extends "blog/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_pagination page_obj %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/category.css' %}">
{% endblock %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container-fluid">
        <h1>Search results...</h1>
        <div class="row">
            {% if posts|length < 1 %}
            <aside class="col-md-4 d-flex">
                <div class="card md-4 card-body box-shadow">
                    <p>Your search - <b>{{ request.GET.query }}</b> ... - did not match any documents.</p>
                    <p>Suggestions:</p>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li>Try different keywords.</li>
                    <li>Try more general keywords.</li>
                    <li>Try fewer keywords.</li>
                </div>
            </aside>
            {% else %}
            <div class="container">

            {% for post in posts %}
                <div class="category_cards_background">

                    <div class="row">
                        <div class="col-md-4 blog_card_image ">
                            <a href="{% url 'post-detail' post.slug %}">
                                <img class="flex-auto img-fluid d-none d-md-block" src="{{ post.image.url }}" alt="..."
                                     onerror=this.src="https://res.cloudinary.com/hxrgp5vol/image/upload/v1611772110/samples/landscapes/nature-mountains.jpg">
                            </a>
                        </div>
                        <div class="card col-md-8 blog_card">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.html_to_text }}</p>
                                <p class="card-text"><small class="text-muted">{{ post.author.get_full_name }}</small></p>
                                <p class="mb-1 text-muted">{{ post.date }}</p>
                                <a href="{% url 'post-detail' post.slug %}">Continue reading</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}